<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1>Rendering with EJS</h1>

        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>